<div id="footerr">
    <h1 class="text-center text-white " >keep Visiting</h1>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2021, All Right Reserved Wicked movies</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a id="link" href="home">Home</a>
                            </li>
                            <li>
                                <a id="link" href="aboutus">About Us</a>
                            </li>
                            <li>
                                <a  id="link" href="contactus">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
</div>





        