<div class="forgot-password-container">
    <div *ngIf="step === 1" class="card">
      <h3>Forgot Password</h3>
      <p class="info-text">Enter your email to receive an OTP</p>
      <input type="email" [(ngModel)]="email" class="input-field" placeholder="Enter your email">
      <button (click)="requestOTP()" class="btn-submit">Send OTP</button>
    </div>
  
    <div *ngIf="step === 2" class="card">
      <h3>Enter OTP</h3>
      <p class="info-text">Check your email for the OTP</p>
      <input type="text" [(ngModel)]="otp" class="input-field" placeholder="Enter OTP">
      <button (click)="verifyOTP()" class="btn-submit">Verify OTP</button>
    </div>
  
    <div *ngIf="step === 3" class="card">
      <h3>Reset Password</h3>
      <p class="info-text">Enter your new password</p>
      <input type="password" [(ngModel)]="newPassword" class="input-field" placeholder="New Password">
      <button (click)="resetPassword()" class="btn-submit">Reset</button>
    </div>
  </div>
  