
<!--view details-->
<div  id="background">
  <div class="mt-5 mb-5 p-5 text-center text-white"><h1 id="heading">HERE YOU GO !</h1></div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{myData.image}}" class="d-block mx-auto mt-2 mb-5" alt="..." style="width: 25rem;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" id="carouselbck">
      <div id="matter">
        <h1 class="mt-3 mb-3 text-center">{{myData.title}}</h1>
          <h5 class="text-dark text-center">{{myData.year}}</h5>
          <p class="text-dark text-center">{{myData.crew}}</p>
      </div>
      </div>
      <div class="carousel-item"  id="carouselbck">
      <div id="matter">
        <h1 class="mt-3 mb-3 text-center">rank:{{myData.rank}}</h1>
          <h5 class="text-dark text-center">rank up&down:{{myData.rankUpDown}}</h5>
          <h5 class="text-dark text-center">imdb rating:{{myData.imDbRating}}</h5>
           <p class="text-dark text-center">imDbRatingCount:{{myData.imDbRatingCount}}</p>
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  
  